# Ignorer les dépendances Node.js
frontend/node_modules/
frontend/.pnp
frontend/.yarn/cache
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Ignorer les fichiers de build React
frontend/build/

# Ignorer les fichiers de configuration WAMP
backend/db_connect.php
backend/.htaccess